/* Login.css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  background-color: cornflowerblue; /* Light background */
  font-family: Arial, sans-serif;
}
.login-container-content {
  border: 2px solid #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #fff;
}

.login-container input {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-container button {
  width: 320px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:first-of-type {
  background-color: #4caf50; /* Green for Login */
  color: #fff;
}

.login-container button:first-of-type:hover {
  background-color: #45a049;
}

.login-container button:last-of-type {
  background-color: cornflowerblue; /* Blue for Sign Up */
  color: #fff;
  border: 1px solid #fff;
}

.login-container button:last-of-type:hover {
  background-color: #007bb5;
}
